
<div class="container">
  <div class="screen">
    <h3 class="title-reg">Inicia Sesión</h3>
    <div class="screen__content">
      <form [formGroup]="form" class="form mt=3" (submit) ="submit()">
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="text" formControlName="user_name" class="login__input" placeholder="Nombre del usuario">
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="password" formControlName="password" class="login__input" placeholder="Contraseña">
        </div>
        <button class="button login__submit" type="submit">
          <span  class="button__text">Iniciar Sesión</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
       <button routerLink="/register" class="button login-comeback"><span >Registrate</span> </button>
      </form>

    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
